<?xml version="1.0" encoding="UTF-8" ?>
<!--
        Copyright 2015-2021 the original author or authors.
        Licensed under the Apache License, Version 2.0 (the "License");
        you may not use this file except in compliance with the License.
        You may obtain a copy of the License at
        http://www.apache.org/licenses/LICENSE-2.0
        Unless required by applicable law or agreed to in writing, software
        distributed under the License is distributed on an "AS IS" BASIS,
        WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        See the License for the specific language governing permissions and
        limitations under the License.
        -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandatype.typingtest.mapper.TypingtestMapper">
    <resultMap id="EnWordsMap" type="EnWordsEntity">
        <result property="word" column="word"/>
    </resultMap>

    <select id="selectEnWords" resultMap="EnWordsMap">
        SELECT word
        FROM enWords;
    </select>

    <resultMap id="EnQuoteMap" type="EnQuoteEntity">
        <result property="text" column="text"/>
        <result property="source" column="source"/>
        <result property="length" column="length"/>
    </resultMap>

    <select id="selectEnQuote" resultMap="EnQuoteMap">
        SELECT text, source, length
        FROM enQuote
        WHERE length BETWEEN #{minLength} AND #{maxLength}
        ORDER BY RAND()
        LIMIT 1;
    </select>

    <resultMap id="ZhWordsMap" type="ZhWordsEntity">
        <result property="word" column="word"/>
        <result property="zi" column="zi"/>
        <result property="pinyin" column="pinyin"/>
    </resultMap>

    <select id="selectZhWords" resultMap="ZhWordsMap">
#         SELECT zhWords.word                                                                   as word,
#                cast(concat('[', group_concat(json_quote(pinyin) SEPARATOR ','), ']') as json) as pinyin,
#                cast(concat('[', group_concat(json_quote(zi) SEPARATOR ','), ']') as json)     as zi
#         FROM zhWords
#                  INNER JOIN zhWords_pinyin zWp
#                             ON zhWords.id = zWp.zhWords_id
#                  INNER JOIN zhWords_zi zWz
#                             ON zWp.zhWords_id = zWz.zhWords_id AND zWp.ziIndex = zWz.ziIndex
#         GROUP BY zhWords.id;
        SELECT zhWords.word AS word,
               cast(concat('[', group_concat(json_quote(zi) SEPARATOR ','), ']') AS JSON)     AS zi,
               cast(concat('[', group_concat(json_quote(pinyin) SEPARATOR ','), ']') AS JSON) AS pinyin
        FROM zhWords
        GROUP BY zhWords.ci_id, zhWords.word;
    </select>

    <resultMap id="ZhQuoteMap" type="ZhQuoteEntity">
        <result property="text" column="text"/>
        <result property="source" column="source"/>
        <result property="length" column="length"/>
    </resultMap>

    <select id="selectZhQuote" resultMap="ZhQuoteMap">
        SELECT text, source, length
        FROM zhQuote
        WHERE length BETWEEN #{minLength} AND #{maxLength}
        ORDER BY RAND()
        LIMIT 1;
    </select>
</mapper>